/node_modules/
backend/user_auth_controller/user_auth_controller.exe
backend/user-temporary-data-service/user-temporary-data-service.exe

/.angular/
/dist/

backend/.idea/

backend/calendar_service/.idea/

*.json

frontend/environment.ts

frontend/src/app/environment.ts

frontend/.vscode/

backend/user-temporary-data-service/uploads/

backend/facultiesService/.idea/

backend/Taskfile.yaml

backend/sso-portal/.idea/

backend/sso-portal/config/local_tests.yml

backend/sso-portal/config/local.yml

backend/sso-portal/config/prod.yml

backend/sso-portal/backup/

.idea/

.vscode/
